@page
@model Pages.IndexModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout"; // Specify the layout file
}

<h1>Welcome to DataPaintWebApp!</h1>
<p>This is the main content of the home page.</p>